body {
    margin: 0;
}

header {
    font-size: 3vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: blue linear-gradient(blue, darkblue);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#menu > div {
    padding: 5px 30px;
}

#menu > div > a {
    text-decoration: none;
    color: white;
}

#siteName {
    background-color: blue;
    text-align: center;
    padding-top: 10px;
    color: white;
}

#headericon {
    height: 1em;
}

#facebook {
    margin-top: 10px;
    float: right;
}