body {
    margin: 0;
}

header {
    font-size: 3vh;
    font-family: Verdana serif;
    width: 100vw;
}

header a:hover {
    border-bottom: 2px solid gold;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(white, whitesmoke);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    opacity: 0.85;
    border-bottom: 2px solid goldenrod;
}

#menu > div {
    padding: 5px 30px;
}

#menu > div > a {
    text-decoration: none;
    color: black;
}

#headericon {
    height: 1em;
}

#facebook {
    margin-top: 10px;
    float: right;
}