#page-info {
    font-family: Verdana, serif;
    color: black;
    width: 50vw;
}

#header_image {
    width: 100vw;
    height: 45vw;
    margin: 0
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.img-text {
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%)
}

body {
    background-color: lightgray;
}