.title {
    font-family: Verdana, serif;
    font-size: 30px;
    color: darkblue;
}

.page-content {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background-color: lightgray;
}

#header_image {
    width: 100vw;
    height: 45vw;
    margin: 0
}

.img-container {
    font-family: Verdana, serif;
    font-size: 50px;
    text-align: center;
    color: white;
}

.img-text {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%)
}

#student-table {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: black;
    height: 500px;
    width: 400px;
}

#public-table {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: black;
    height: 400px;
    width: 400px;
}

#visit-table{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: black;
    height: 300px;
    width: 400px;
}

.info-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-section {

}

.info-section {
    margin-top: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.table-section {
    text-align: center;
    background-color: slategray;
}

.footer-section {
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: darkblue;
}