.title {
    font-family: Verdana, serif;
    font-size: 30px;
    color: darkblue;
}

h1 {
    font-family: Verdana, serif;
    font-size: 30px;
    color: white
}

h2 {
    font-family: Verdana, serif;
    font-size: 20px;
    color: darkblue;
}

.page-content {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#header_image {
    width: 100%;
    height: 47vw;
    margin: 0;
    object-fit: cover;
}

.img-container {
    font-family: Verdana, serif;
    font-size: 50px;
    text-align: center;
    color: white;
    overflow: hidden;
    height: 48vw; /* Needs to be more than #header_image height */
}

.img-text {
    text-shadow: 1px 1px 1px dimgray;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#student-table {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    color: black;
    height: 500px;
    width: 400px;
}

#public-table {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    color: black;
    height: 500px;
    width: 400px;
}

#visit-table {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    color: black;
    height: 500px;
    width: 400px;
}

.info-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.telescope-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.telescope-background{
    background-color: whitesmoke;
    padding-left: 30px;
    padding-right: 30px;
}

.telescopes {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.image-section {
    margin: 0;
}

.info-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
}

.table-section {
    text-align: center;
    background-color: lightslategray;
    padding-bottom: 10px;
}

.footer-section {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: darkblue;
}